@{
    var LogLevel = ViewBag.Loglv as LogLevel;
 
}

<div class="layui-row">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form">
                <input type="hidden" value="@LogLevel.Id" name="Id" />
                <input type="hidden" value="@LogLevel.CreateTime" name="CreateTime" />
                <input type="hidden" value="@LogLevel.UpdateTime" name="UpdateTime" />
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        日志等级名称
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" name="LevelName" lay-verify="required" value="@LogLevel.LevelName"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">
                        描述
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" name="LevelRemarks" value="@LogLevel.LevelRemarks"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>     
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        是否启用
                    </label>
                    <div class="layui-input-inline">
                        <input type="radio" name="Status" value="True" title="开启" @(LogLevel.Status ? "checked" : "")>
                        <input type="radio" name="Status" value="False" title="停用" @(LogLevel.Status ? "" : "checked")>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label"></label>
                    <button class="layui-btn" lay-filter="save" lay-submit>
                        保存
                    </button>

                </div>
            </form>
        </div>
    </div>
</div>

@section Js
{
    <script>
        layui.use(function () {
            var form = layui.form,
                layer = layui.layer;
            form.render();

            //提交
            form.on('submit(save)', function (obj) {
                layer.load(0);
                $.ajax({
                    url: '@Url.Action("LogLevelSave")',
                    type: 'POST',
                    data: obj.field,
                    success: function (rst) {
                        layer.closeAll();
                        if (rst) {
                            layer.msg(rst.ErrorDesc, { icon: 1 });
                            if (rst.Status) {
                                if (parent) {
                                    parent.location.reload();
                                } else {
                                    location.reload();
                                }
                            }
                        }
                    }
                });
                return false;
            });
        });
    </script>
    
}