@{
    var Plugins = ViewBag.Plugins as PluginsInfo;

    var PreviewHost = ViewBag.PreviewHost as string;
}

@section Css
{
    <style>
        .layui-form-label {
            width: 120px;
        }
    </style>
}

<div class="layui-row">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form">
                <input type="hidden" name="PluginsID" value="@Plugins.PluginsID" />
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        类型
                    </label>
                    <div class="layui-input-inline">
                        <input type="radio" name="PluginsType" value="0" title="普通插件" @(Plugins.PluginsType == 0 ? "checked" : "")>
                        <input type="radio" name="PluginsType" value="1" title="提示词函数" @(Plugins.PluginsType == 1 ? "checked" : "")>
                        <input type="radio" name="PluginsType" value="2" title="原生函数" @(Plugins.PluginsType == 2 ? "checked" : "")>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>插件名称
                    </label>
                    <div class="layui-input-block">
                        <div class="layui-col-md9">
                            <input type="text" name="Name" lay-verify="required" value="@Plugins.Name"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        命名空间
                    </label>
                    <div class="layui-input-block">
                        <div class="layui-col-md9">
                            <input type="text" name="Namespace"  value="@Plugins.Namespace"
                                   autocomplete="off" class="layui-input Namespace">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        类名
                    </label>
                    <div class="layui-input-block">
                        <div class="layui-col-md9">
                            <input type="text" name="ClassName"  value="@Plugins.ClassName"
                                   autocomplete="off" class="layui-input ClassName">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        入口函数名
                    </label>
                    <div class="layui-input-block">
                        <div class="layui-col-md9">
                            <div id="Plugins_Type" class="xm-select-demo"></div>
                            <input type="text" name="EntryFunctionName"  value="@Plugins.EntryFunctionName"
                                   autocomplete="off" class="layui-input EntryFunctionName">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">
                       返回值描述
                    </label>
                    <div class="layui-input-block">
                        <div class="layui-col-md9">
                            <input type="text" name="ReturnValueDescription"  value="@Plugins.ReturnValueDescription"
                                   autocomplete="off" class="layui-input ReturnValueDescription">
                        </div>
                    </div>
                </div>
                
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red"></span>说明
                    </label>
                    <div class="layui-input-block">
                        <div class="layui-col-md9">
                            <textarea type="text" name="Description"
                                      autocomplete="off" class="layui-input Description">@Plugins.Description</textarea>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red"></span>参数配置
                    </label>
                    <div class="layui-input-block">
                        <div class="layui-col-md9">
                            <textarea type="text" name="Config"
                                      autocomplete="off" class="layui-input Config">@Plugins.Config</textarea>
                        </div>
                    </div>
                </div>
                
                

                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>创建时间
                    </label>
                    <div class="layui-input-block">
                        <div class="layui-col-md9">
                            <input type="text" name="CreateTime" readonly lay-verify="required" placeholder="YYYY-MM-DD HH:mm" value="@Plugins.CreateTime.ToCurrentTime()"
                                   autocomplete="off" class="layui-input CreateTime">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>更新时间
                    </label>
                    <div class="layui-input-block">
                        <div class="layui-col-md9">
                            <input type="text" name="LastUpdateTime" readonly lay-verify="required" placeholder="YYYY-MM-DD HH:mm" value="@Plugins.LastUpdateTime.ToCurrentTime()"
                                   autocomplete="off" class="layui-input LastUpdateTime">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">
                        状态
                    </label>
                    <div class="layui-input-inline">
                        <input type="radio" name="SystemStatus" value="0" title="正常" @(Plugins.SystemStatus == 0 ? "checked" : "")>
                        <input type="radio" name="SystemStatus" value="1" title="屏蔽" @(Plugins.SystemStatus == 0 ? "" : "checked")>
                    </div>
                </div>

                
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input type="hidden" name="KnowledgeBases" id="KnowledgeBases" value="" />
                        <button class="layui-btn save" lay-filter="save" lay-submit>保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Js
{
    <script src="/layuiadmin/modules/xm-select.js"></script>
    <script>
        layui.use(function () {
            var form = layui.form,
                layer = layui.layer,
                xmSelect = layui.xmSelect;
            form.render();



            $('.save').click(function () {
                
            });

            //提交
            form.on('submit(save)', function (obj) {
                layer.load(0);

                $.ajax({
                    url: '@Url.Action("PluginsSave")',
                    type: 'POST',
                    data: obj.field,
                    success: function (rst) {
                        layer.closeAll();
                        if (rst) {
                            layer.msg(rst.ErrorDesc, { icon: 1 });
                            if (rst.Status) {
                                if (parent) {
                                    parent.location.reload();
                                } else {
                                    location.reload();
                                }
                            }
                        }
                    }
                });
                return false;
            });
        });
    </script>
}