@{
    var Agent = ViewBag.Agent as AgentInfo;

    var AgentTypeList = ViewBag.AgentTypeList as List<BaseDictionaryInfo>;
    var SessionModelList = ViewBag.SessionModelList as List<LargeModelInfo>;
    //var VectorModelList = ViewBag.VectorModelList as List<LargeModelInfo>;

    var PreviewHost = ViewBag.PreviewHost as string;
    //var KnowledgeBases = ViewBag.KnowledgeBases != null ? ViewBag.KnowledgeBases as List<KnowledgeBaseInfo>:new List<KnowledgeBaseInfo>();
}

@section Css
{
    <style>
        .layui-form-label {
            width: 120px;
        }
    </style>
}

<div class="layui-row">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form">
                <input type="hidden" name="AgentID" value="@Agent.AgentID" />

                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>名称
                    </label>
                    <div class="layui-input-block">
                        <div class="layui-col-md9">
                            <input type="text" name="Name" lay-verify="required" value="@Agent.Name"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>图标
                    </label>
                    <div class="layui-input-block">
                        <div class="layui-col-md9">
                            <input type="text" name="AICON" lay-verify="required" value="@Agent.AICON"
                                   autocomplete="off" class="layui-input AICON">
                            <div id="file-upload-container">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>类型
                    </label>
                    <div class="layui-input-block">
                        <div class="layui-col-md9">
                            <div id="App_Type" class="xm-select-demo"></div>
                            <input type="hidden" name="DicIDList" lay-verify="required" value="@Agent.DicIDList"
                                   autocomplete="off" class="layui-input DicIDList">
                            <input type="hidden" name="DicNameList" lay-verify="required" value="@Agent.DicNameList"
                                   autocomplete="off" class="layui-input DicNameList">
                        </div>
                    </div>
                </div>
               
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>会话模型(综合能力)
                    </label>
                    <div class="layui-input-block">
                        <div class="layui-col-md9">
                            <select class="SessionModel" name="SessionModel" lay-verify="required">
                                <option value="">请选择一个类型</option>
                                @foreach (LargeModelInfo _model in SessionModelList)
                                {
                                    <option value="@_model.LargeModelID">@_model.Name</option>
                                }
                            </select>
                            <input type="hidden" name="SessionModelID" lay-verify="required" value="@Agent.SessionModelID"
                                   autocomplete="off" class="layui-input SessionModelID">
                            <input type="hidden" name="SessionModelName" lay-verify="required" value="@Agent.SessionModelName"
                                   autocomplete="off" class="layui-input SessionModelName">
                        </div>
                    </div>
                </div> 
                
                @*
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>向量模型
                    </label>
                    <div class="layui-input-block">
                        <div class="layui-col-md9">
                            <select class="VectorModel" name="VectorModel" lay-verify="required">
                                <option value="">请选择一个类型</option>
                                @foreach (LargeModelInfo _model in VectorModelList)
                                {
                                    <option value="@_model.LargeModelID">@_model.Name</option>
                                }
                            </select>
                            <input type="hidden" name="VectorModelID" lay-verify="required" value="@Agent.VectorModelID"
                                   autocomplete="off" class="layui-input VectorModelID">
                            <input type="hidden" name="VectorModelName" lay-verify="required" value="@Agent.VectorModelName"
                                   autocomplete="off" class="layui-input VectorModelName">
                        </div>
                    </div>
                </div>
                *@
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red"></span>提示词
                    </label>
                    <div class="layui-input-block">
                        <div class="layui-col-md9">
                            <textarea type="text" name="Prompt" lay-verify="required"
                                      autocomplete="off" class="layui-input Prompt">@Agent.Prompt</textarea>
                        </div>
                    </div>
                </div>
                
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red"></span>简述
                    </label>
                    <div class="layui-input-block">
                        <div class="layui-col-md9">
                            <textarea type="text" name="Description" lay-verify="required" 
                                      autocomplete="off" class="layui-input Description">@Agent.Description</textarea>
                        </div>
                    </div>
                </div>
                
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>温度系数
                    </label>
                    <div class="layui-input-block">
                        <div class="layui-col-md9">
                            <input type="text" name="TemperatureCoefficient" lay-verify="required" value="@Agent.TemperatureCoefficient"
                                   autocomplete="off" class="layui-input TemperatureCoefficient">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>采用系数
                    </label>
                    <div class="layui-input-block">
                        <div class="layui-col-md9">
                            <input type="text" name="TopPCoefficient" lay-verify="required" value="@Agent.TopPCoefficient"
                                   autocomplete="off" class="layui-input TopPCoefficient">
                        </div>
                    </div>
                </div>
                @*
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>挂载知识库
                    </label>
                    <div class="layui-input-block">
                        <div class="layui-col-md9">
                            <div id="Knowledge_Base" class="xm-select-demo"></div>
                        </div>
                    </div>
                </div>
                *@

                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>创建时间
                    </label>
                    <div class="layui-input-block">
                        <div class="layui-col-md9">
                            <input type="text" name="CreateTime" readonly lay-verify="required" placeholder="YYYY-MM-DD HH:mm" value="@Agent.CreateTime.ToCurrentTime()"
                                   autocomplete="off" class="layui-input CreateTime">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>更新时间
                    </label>
                    <div class="layui-input-block">
                        <div class="layui-col-md9">
                            <input type="text" name="LastUpdateTime" readonly lay-verify="required" placeholder="YYYY-MM-DD HH:mm" value="@Agent.LastUpdateTime.ToCurrentTime()"
                                   autocomplete="off" class="layui-input LastUpdateTime">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">
                        状态
                    </label>
                    <div class="layui-input-inline">
                        <input type="radio" name="SystemStatus" value="0" title="未发布" @(Agent.SystemStatus == 0 ? "checked" : "")>
                        <input type="radio" name="SystemStatus" value="-1" title="屏蔽" @(Agent.SystemStatus == -1 ? "checked" : "")>
                        <input type="radio" name="SystemStatus" value="1" title="正常" @(Agent.SystemStatus == 1 ? "checked" : "")>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red"></span>所属用户编号（空则为系统公共应用）
                    </label>
                    <div class="layui-input-block">
                        <div class="layui-col-md9">
                            <input type="text" name="MemberID" value="@Agent.MemberID" autocomplete="off" class="layui-input MemberID">
                            <input type="text" name="MemberName" value="@Agent.MemberName" autocomplete="off" class="layui-input MemberName">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input type="hidden" name="KnowledgeBases" id="KnowledgeBases" value="" />
                        <button class="layui-btn save" lay-filter="save" lay-submit>保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Js
{
    <script src="/layuiadmin/modules/xm-select.js"></script>
    <script>
        layui.use(function () {
            var form = layui.form,
                layer = layui.layer,
                xmSelect = layui.xmSelect;
            form.render();

            
            $(".SessionModel").val("@Agent.SessionModelID");

            form.render("select");
            

            var AgentTypeStr = [@Agent.DicIDList];
            var AgentTypeList = xmSelect.render({
                el: '#App_Type',
                toolbar: {
                    show: true,
                },
                filterable: true,
                height: '500px',
                data: [
                    @foreach (var AgentType in AgentTypeList)
                    {
                    @Html.Raw("  { name: '" + AgentType.DicName + "', value: '" + AgentType.DicId + "'},")
                    }

                ]
            });

            if (AgentTypeStr) {
                var _setValue = [];
                for (var i = 0; i < AgentTypeStr.length; i++) {
                    _setValue.push(AgentTypeStr[i]);
                }
                AgentTypeList.setValue(_setValue);
            }
            function Get_Type() {
                var _value = AgentTypeList.getValue();
                var _id = [];
                var _name = [];
                if (_value) {
                    for (var i = 0; i < _value.length; i++) {
                        _id.push(_value[i].value);
                        _name.push(_value[i].name);
                    }
                }
                $('.DicIDList').val(_id.join(','));
                $('.DicNameList').val(_name.join(','));
            }
            @*
            var AgentKnowledgeBases = @Html.Raw(JsonConvert.SerializeObject(Agent.KnowledgeBases));

            var Knowledge_Base = xmSelect.render({
                el: '#Knowledge_Base',
                toolbar: {
                    show: true,
                },
                filterable: true,
                height: '500px',
                data: [{
                    name: '免费', children: [
                        @foreach (var KnowledgeBase in KnowledgeBases.FindAll(x=>x.ChargeType ==0))
                        {
                        @Html.Raw("  { name: '" + KnowledgeBase.Name + "', value: '" + KnowledgeBase.KnowledgeBaseID + "'},")
                        }
                    ]
                }, {
                        name: '收费', children: [
                            @foreach (var KnowledgeBase in KnowledgeBases.FindAll(x => x.ChargeType == 1))
                            {
                            @Html.Raw("  { name: '" + KnowledgeBase.Name + "', value: '" + KnowledgeBase.KnowledgeBaseID + "'},")
                            }
                    ]
                    }
                ]
            });

            if (AgentKnowledgeBases){
                var _setValue = [];
                for (var i = 0; i < AgentKnowledgeBases.length;i++) {
                    _setValue.push(AgentKnowledgeBases[i].KnowledgeBaseID);
                }
                Knowledge_Base.setValue(_setValue);
            }
            
            function GetKnowledge_Base() {
                var _value = Knowledge_Base.getValue();
                var _re=[];
                if (_value){
                    for (var i = 0; i < _value.length;i++){
                        _re.push({
                            'AppKnowledgeBaseID': '0',
                            'AppID': '@Agent.AgentID',
                            'KnowledgeBaseID': _value[i].value,
                            'Weight': i
                        });
                    }
                }
                return JSON.stringify(_re);
            }
            *@

            $('.save').click(function () {
                Get_Type();
                $('.SessionModelID').val($(".SessionModel option:selected").val());
                $('.SessionModelName').val($(".SessionModel option:selected").text());

                //$('.VectorModelID').val($(".VectorModel option:selected").val());
                //$('.VectorModelName').val($(".VectorModel option:selected").text());
            });

            //提交
            form.on('submit(save)', function (obj) {
                layer.load(0);
                //obj.field.KnowledgeBases = GetKnowledge_Base();

                $.ajax({
                    url: '@Url.Action("Save")',
                    type: 'POST',
                    data: obj.field,
                    success: function (rst) {
                        layer.closeAll();
                        if (rst) {
                            layer.msg(rst.ErrorDesc, { icon: 1 });
                            if (rst.Status) {
                                if (parent) {
                                    parent.location.reload();
                                } else {
                                    location.reload();
                                }
                            }
                        }
                    }
                });
                return false;
            });
        });
    </script>
}
@section FileUpload {

    <script>
        $(function () {
            var form = layui.form, layer = layui.layer;
            form.render();

            var _AICON = function () {
                var fileCodeElement = $('.AICON');
                var fileUploadContainer = $('#file-upload-container');

                var options = {
                    url: '/Controls/UploadFiles/Save',
                    previewType: 'img',
                    previewHost: '@PreviewHost',
                    previewW: 150,
                    previewH: 150,
                    setPicW: 300,
                    setPicH: 300,
                    layui: layui,
                    formData: {
                        //example: 'test'
                    },
                };

                FileUploadPlugin(fileUploadContainer, fileCodeElement, options);
            };
            _AICON();
        });

    </script>
}