@{
    var member = ViewBag.Member as MemberInfo;

    var PreviewHost = ViewBag.PreviewHost as string;
}

@section Css
{
    <style>
        .layui-form-label {
            width: 120px;
        }
    </style>
}

<div class="layui-row">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form">
                <input type="hidden" name="MemberID" value="@member.MemberID" />

                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>会员编号
                    </label>
                    <div class="layui-input-block">
                        <div class="layui-col-md9">
                            <input type="text" name="MemberCard" lay-verify="required" value="@member.MemberCard"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>手机号码
                    </label>
                    <div class="layui-input-block">
                        <div class="layui-col-md9">
                            <input type="text" name="MPhoneNumber" lay-verify="required" value="@member.MPhoneNumber"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>昵称
                    </label>
                    <div class="layui-input-block">
                        <div class="layui-col-md9">
                            <input type="text" name="MNickName" lay-verify="required" value="@member.MNickName"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>头像
                    </label>
                    <div class="layui-input-block">
                        <div class="layui-col-md9">
                            <input type="text" name="MIcon" lay-verify="required" value="@member.MIcon"
                                   autocomplete="off" class="layui-input MIcon">
                            <div id="file-upload-container">
                            </div>
                        </div>
                    </div>
                </div>

                

                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>出生年月
                    </label>
                    <div class="layui-input-block">
                        <div class="layui-col-md9">
                            <input type="text" name="MBirthday" lay-verify="required" placeholder="yyyy-MM-dd" value="@member.MBirthday.ToShortDateString()"
                                   autocomplete="off" class="layui-input MBirthday">
                        </div>
                    </div>
                </div>
 

                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>积分
                    </label>
                    <div class="layui-input-block">
                        <div class="layui-col-md9">
                            <input type="text" name="MPoints" lay-verify="required" readonly value="@member.MPoints"
                                   autocomplete="off" class="layui-input MPoints">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>等级
                    </label>
                    <div class="layui-input-block">
                        <div class="layui-col-md9">
                            <input type="text" name="MLevel" lay-verify="required" readonly value="@member.MLevel"
                                   autocomplete="off" class="layui-input MLevel">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>推荐人ID
                    </label>
                    <div class="layui-input-block">
                        <div class="layui-col-md9">
                            <input type="text" name="MIntroducer" lay-verify="required" value="@member.MIntroducer"
                                   autocomplete="off" class="layui-input MIntroducer">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>创建时间
                    </label>
                    <div class="layui-input-block">
                        <div class="layui-col-md9">
                            <input type="text" name="MAppendTime" readonly lay-verify="required" placeholder="YYYY-MM-DD HH:mm" value="@member.MAppendTime.ToCurrentTime()"
                                   autocomplete="off" class="layui-input MAppendTime">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">
                        状态
                    </label>
                    <div class="layui-input-inline">
                        <input type="radio" name="MState" value="0" title="正常" @(member.MState == 0 ? "checked" : "")>
                        <input type="radio" name="MState" value="1" title="屏蔽" @(member.MState == 0 ? "" : "checked")>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input type="hidden" name="MPWD" id="MPWD" value="@member.MPWD" />
                        <button class="layui-btn" lay-filter="save" lay-submit>保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Js
{
    <script>
        layui.use(function () {
            var form = layui.form,
                layer = layui.layer;
            form.render();

            layui.laydate.render({
                elem: '.MBirthday',
                type: 'datetime'
            });

            //提交
            form.on('submit(save)', function (obj) {
                layer.load(0);
                $.ajax({
                    url: '@Url.Action("MemberSave")',
                    type: 'POST',
                    data: obj.field,
                    success: function (rst) {
                        layer.closeAll();
                        if (rst) {
                            layer.msg(rst.ErrorDesc, { icon: 1 });
                            if (rst.Status) {
                                if (parent) {
                                    parent.location.reload();
                                } else {
                                    location.reload();
                                }
                            }
                        }
                    }
                });
                return false;
            });
        });
    </script>
}
@section FileUpload{

    <script>
        $(function () {
            var _MIcon = function () {
                var fileCodeElement = $('.MIcon');
                var fileUploadContainer = $('#file-upload-container');

                var options = {
                    url: '/Controls/UploadFiles/Save',
                    previewType: 'img',
                    previewHost: '@PreviewHost',
                    previewW: 150,
                    previewH: 150,
                    formData: {
                        //example: 'test'
                    },
                };

                FileUploadPlugin(fileUploadContainer, fileCodeElement, options);
            };
            _MIcon();
        });

    </script>
}